/* Google Font Import (Poppins @ 200, 300, 400, 500) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

/* Variables */
:root {
	--primary: #06fffb;
	--secondary: #9502f0;
	--border: 2px solid var(--primary);
	--radius: 0.25rem;
	--shadow: 0 0 0.5rem #000;
}

/* Global Defaults */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", Arial, sans-serif;
}

body {
	min-height: 100dvh;
	width: 100dvw;
	overflow: clip;
	color: #fff;
	background-color: #101010;
}

main {
	height: 100%;
	width: 100%;
}

section {
	max-width: 1000px;
}
