nav {
	height: 2rem;
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

nav img {
	height: 100%;
}

nav ul {
	list-style-type: none;
	width: 100%;
	padding: 0.2rem 0;
	background-color: #045e8fbe;
	display: flex;
	justify-content: space-around;
}
