.welcome {
	width: 90%;
	margin: 4rem auto;
	padding: 5rem 1rem;
	text-align: center;
	background-color: #000;
	border: var(--border);
	border-radius: var(--radius);
	box-shadow: 0 0 0.75rem var(--secondary);
}

.tagline span {
	color: var(--primary);
}

.welcome button {
	margin: 2rem 0;
	padding: 0.25rem 0.5rem;
	background-color: var(--primary);
	border: 2px solid var(--secondary);
	border-radius: var(--radius);
}

.welcome a {
	text-decoration: none;
	color: var(--primary);
}
